.container{
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper {
    text-align: right;
    ul{
        li{
            display: inline;
            margin-left: 10px;
        }
    }
}
